PROJECT=Constellation
gL0_PUBLIC_PORT=8000
gL0_P2P_PORT=8001
gL0_CLI_PORT=8002
gL0_PROFILE=dag-l0
gL0_LB=https://l0-lb-{network}.constellationnetwork.io/
gL0_BINARY=https://github.com/Constellation-Labs/tessellation/releases/download/{version}/cl-node.jar
cL1_PUBLIC_PORT=8010
cL1_P2P_PORT=8011
cL1_CLI_PORT=8012
cL1_PROFILE=dag-l1
cL1_LB=https://l1-lb-{network}.constellationnetwork.io/
cL1_BINARY=https://github.com/Constellation-Labs/tessellation/releases/download/{version}/cl-dag-l1.jar
