PROJECT=Constellation
gL0_PUBLIC_PORT=8000
gL0_P2P_PORT=8001
gL0_CLI_PORT=8002
gL0_PROFILE=dag-l0
gL0_LB=https://l0-lb-{network}.constellationnetwork.io/
gL0_BINARY=https://github.com/Constellation-Labs/tessellation/releases/download/v{version}/cl-node.jar
dagL1_PUBLIC_PORT=8010
dagL1_P2P_PORT=8011
dagL1_CLI_PORT=8012
dagL1_PROFILE=dag-l1
dagL1_LB=https://l1-lb-{network}.constellationnetwork.io/
dagL1_BINARY=https://github.com/Constellation-Labs/tessellation/releases/download/v{version}/cl-dag-l1.jar
